<h1>Formulário de Identificação</h1>
  <br></br>
<form action='' method="POST">{% csrf_token %}
  {{form.as_p}}

  <input type="submit" value="Submit" />
</form>

<!-- Nome: <input type="text" name="fname"><br>
Idade: <input type="text" name="lname"><br>
CPF: <input type="text" name="fname"><br>
e-mail: <input type="text" name="fname"><br>
Sexo: <input type="text" name="fname"><br>
Matrícula: <input type="text" name="fname"><br>
Endereço: <input type="text" name="fname"><br>
Bairro: <input type="text" name="fname"><br>
Cep: <input type="text" name="fname"><br>
Laboratório: <input type="text" name="fname"><br> -->
